@{
    ViewBag.Title = "About";
}
<h2>What is WhatsInMyBag?</h2>



<div class="panel panel-primary">
    <h3>In this shop we wish to offer stationery equiptments.</h3>
    <p>
        WhatsInMyBag was created and founded by college students of College of North Atlantic.
        They noticed the increasingly absense of stationery equiptments as they went about their college life.
        The lack of equipments from students drove the instructors mad! The nearest stationery shop was 58km away and it was out of reach for some of the college students.
        Until one da, a student proposed an idea to the dean and presented a plan. WhatsInMyBag was born! and the rest was history.
    </p>
    <p>
        WhatsInMyBag products are created by the college students themselves.
        The shop gre popularity amongst their neighboring colleges and so the founder of the shop decided to make their products available online.
    </p>
    <p>
        Support the aspiring college students and buy now!
        @Html.ActionLink("View our products here", "Index", "Products")
        Or you can find us in our local shop:
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.317782717768!2d51.478886315012765!3d25.360663983820327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45dcfb2722e9e9%3A0xd1b07d34e11ee6d5!2sCollege%20of%20the%20North%20Atlantic%20-%20Qatar!5e0!3m2!1sen!2sqa!4v1585176112898!5m2!1sen!2sqa" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </p>
</div>



<div class="btn btn-primary" style="background-color:white;">
    @Html.ActionLink("Homepage", "Index", "Home")
</div>